@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/CaviarDreams.ttf');
}

@font-face {
    font-family: 'Prototype';
    src: url('../fonts/Typographica.ttf');
}

.font-Prototype {
    font-family: Prototype;
}

.font-OpenSans {
    font-family: OpenSans;
}