@charset "UTF-8";
.bordered {
  border: solid 1px #fff;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Audiowide";
  src: url("../fonts/Audiowide-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "BlackOps";
  src: url("../fonts/BlackOpsOne-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
}
.font-lato {
  font-family: "Lato";
}

.font-audiowide {
  font-family: "Audiowide" !important;
}

.font-nunito {
  font-family: "Nunito";
}

.font-blackops {
  font-family: "BlackOps" !important;
}

.font-ubuntu {
  font-family: "Ubuntu" !important;
}

a.btn-app,
button.btn-app {
  display: block;
  border-radius: 2px !important;
  position: relative;
  padding: 15px 5px !important;
  margin: 1rem 0 0 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  font-size: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
a.btn-app > i,
button.btn-app > i {
  font-size: 46px;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
a.btn-app:hover,
button.btn-app:hover {
  background-color: #2bbbad;
}

ul.breadcrumb {
  font-size: 16px;
  width: 100%;
  list-style: none;
  margin: 0.4rem 0;
  padding: 10px 0 !important;
  border-radius: 2px;
  background-color: transparent;
  margin-top: 0.5rem !important;
}
ul.breadcrumb .breadcrumb-item {
  color: #333333;
  display: inline-block;
  margin: 0;
  padding: 0.2rem 0;
}
ul.breadcrumb .breadcrumb-item i, ul.breadcrumb .breadcrumb-item [class^=mdi-], ul.breadcrumb .breadcrumb-item [class*=mdi-], ul.breadcrumb .breadcrumb-item [class^=icon-], ul.breadcrumb .breadcrumb-item [class*=icon-], ul.breadcrumb .breadcrumb-item i.material-icons {
  display: inline-block;
  float: left;
  font-size: 20px;
  vertical-align: top;
  line-height: 22px;
  margin-right: 5px;
}
ul.breadcrumb .breadcrumb-item:hover {
  color: #444444 !important;
  font-weight: bold;
}
ul.breadcrumb .breadcrumb-item:last-child a {
  color: #333333;
  font-weight: bold;
  cursor: default;
}
ul.breadcrumb .breadcrumb-item:not(:last-child) {
  margin-right: 0.5rem;
}
ul.breadcrumb .breadcrumb-item:not(:last-child) a {
  color: #333333 !important;
}
ul.breadcrumb .breadcrumb-item:not(:first-child)::before {
  color: #333333;
  content: "" !important;
  padding-right: 0.5rem;
  vertical-align: top;
  font-family: "icomaterialize" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

.preloader {
  position: fixed;
  top: 40%;
  width: 100% !important;
  height: 100% !important;
  z-index: 1000;
  opacity: 0.8;
}

.preloader-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #dfc;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal {
  transform: translateY(20%) !important;
}

/*# sourceMappingURL=owner.css.map */
