body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Arial' !important;
}

main {
    flex: 1 0 auto;
}

header,
main,
footer {
    padding-right: 300px !important;
}

.time {
    font-size: 50px;
}

.time:after {
    font-size: 20px;;
}

.date {
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 1px black;
    color: #ff9800 ;
    font-size: 30px;
    font-weight: bolder;
}

.clock {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    color: #ff9800 ;
}